@import "https://fonts.googleapis.com/css2?family=Shrikhand&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: black;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 16px;
}

/* HEADER - LOGO */
.header_logo {
  text-align: center;
  margin: 0px 15px 15px;
}

.header_logo {
  margin-top: 15px;
}

header img {
  text-align: center;
  margin-bottom: -10px;
  width: 160px;
}

/* HEADER MENUS */
.arow_menu {
  color: black;
  position: absolute;
  margin: 5px 0 0 10px;
}

/* 1ERE SECTION - LOCALISATION ET RESERVATION */

.contener_localisation_resto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  box-shadow: 0px 3px 3px #d1cece inset;
  margin-top: 20px;
}

.txt_localisation {
  margin-left: 15px;
}

.contener_explor_resto {
  padding: 0 15% 0 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contener_explor_resto h1 {
  margin-bottom: 0;
}

.contener_explor_resto {
  background-color: #f6f6f9;
}

.btn_explor {
  background-image: linear-gradient(to bottom, #ff79da, #9356dc);
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 22px;
  color: #fff;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgb(206, 206, 206);
  margin-top: 10px;
  margin-bottom: 50px;
}

/* 2EME SECTION - FONCTIONNEMENT */

.h1_section2 {
  margin: 40px 0 0 25px;
  font-size: 1.5em;
}

.band {
  display: flex;
  align-items: center;
  margin: 30px 0 0 26px;
  background-color: #f3f3f38f;
  border-radius: 28px;
  width: 87%;
  padding: 13px 0 13px 0;
  box-shadow: 5px 5px 10px #e9e9e9;
  font-weight: bold;
}

.band .number {
  margin-right: 20px;
  margin-left: -12px;
  margin-top: 15px;
  background-color: #9356dc;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

.phone_txt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-right: 20px;
  color: #808080;
  font-size: 1.3em;
}

.band:hover {
  background-color: #9256dc1c;
  box-shadow: 3px 3px 20px #c6bfbf;
}

.band:hover .icon {
  color: #9356dc;
}

/* 3EME SECTION - RESTAURANTS */

.background_contener_restaurants {
  background-color: #f6f6f9;
  padding-bottom: 60px;
  margin-bottom: -17px;
}

.h1_section3 {
  margin: 40px 0 0 25px;
  padding-top: 50px;
  font-size: 1.5em;
}

.contenant_img {
  position: relative;
  text-align: center;
}

.nouveau_carte {
  position: absolute;
  top: -2%;
  left: 100%;
  transform: translate(-120%);
}

.nouveau_carte p {
  background-color: #99e2d0;
  color: #1f9779;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 75px;
  border-radius: 2px;
  font-size: 0.8em;
}

figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 15px 0 10px;
}

figcaption i {
  font-size: 25px;
  margin: 5px 5px 25px 0;
}

figure {
  margin: 20px 25px 0 25px;
  background-color: #fff;
  height: 265px;
  border-radius: 18px;
  box-shadow: 0px 3px 10px rgb(218, 217, 217);
  cursor: pointer;
}

.img_acceuil_resto {
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 18px 18px 0 0;
}

.fc_txt {
  line-height: 10px;
  margin-top: 5px;
}

.coeur_vide {
  margin-right: -25px;
}

.coeur_plein {
  opacity: 0;
}

.coeur_plein:hover {
  transition: 1s;
  opacity: 1;
  color: transparent;
  background: linear-gradient(to top, #ff79da, #9356dc);
  font-size: 25.4px;
  margin-left: -0.5px;
  background-clip: text;
  -webkit-background-clip: text;
}

.txt_bold {
  font-weight: bold;
}

/* MENU */

.menu_img {
  width: 100%;
  height: 250px;
  margin-top: 5px;
  object-fit: cover;
}

.conteneur_bg_section {
  position: relative;
  height: auto;
  background-color: #fff;
  border-radius: 40px;
  margin-top: -55px;
}

.conteneur_bg_section h1 {
  font-family: Shrikhand;
}

.div_h1_coeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  margin-left: 25px;
  padding-top: 15px;
  font-size: 1.1em;
}

.coeur_vide2 {
  font-size: 25.4px;
  margin-left: -25px;
}

.conteneur_bg_section h2 {
  font-weight: normal;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.52);
  padding-left: 25px;
}

.border_h2 {
  background-color: #99e2d0;
  height: 3px;
  width: 10px;
  margin: -8px 0 0 25px;
  padding-left: 35px;
}

.band_menu:hover {
  animation: slideleft;
}

.txt_light_menu {
  font-weight: normal;
}

.txt_prix_contener {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: -23px 0 -5px 0;
}

.contener_band_menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.band_menu {
  margin: 30px 0 0 18px;
  background-color: #f3f3f38f;
  border-radius: 18px;
  width: 87%;
  padding: 1px 0 5px 10px;
  box-shadow: 5px 5px 10px #e9e9e9;
  font-weight: bold;
  border-right: 0px solid #99e2d0;
  box-sizing: border-box;
  max-height: 78px;
  white-space: nowrap;
}

.band_menu:hover {
  animation: band_anim 0.5s forwards;
}

.band_menu_35:hover i {
  margin-left: -32px;
}

.txt_light_menu {
  font-weight: normal;
}

.txt_prix_contener {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: -23px 0 -5px 0;
}

@keyframes band_anim {
  from {
    border-right: 0px solid transparent;
  }
  to {
    border-right: 70px solid #99e2d0;
  }
}

.band_cercle {
  transform: translateX(68px);
  margin-top: -10px;
  font-size: 1.3em;
  color: white;
  padding: 10px;
}

.band_menu:hover i {
  transform: rotate(1turn);
  transition-duration: 0.5s;
  position: relative;
}

.scroll_menu_prix {
  overflow: hidden;
}

.point_x_3 {
  display: none;
  transform: translateX(25px);
}

.band_menu:hover .point_x_3 {
  display: inline;
}

.txt_light_menu_scroll {
  font-weight: normal;
  margin-right: -21px;
}

/* DECALAGE PRIX ET I */
/* PRIX */

.decal_menu_prix_25 {
  transform: translateX(80px);
}

.band_menu:hover .decal_menu_prix_25 {
  transform: translateX(55px);
  transition-duration: 0.7s;
}

.decal_menu_prix_35 {
  transform: translateX(45px);
}

.band_menu:hover .decal_menu_prix_35 {
  transform: translateX(10px);
  transition-duration: 0.7s;
}

.band_scrollmenu_20 {
  max-width: 340px;
}

.decal_menu_prix_20 {
  transform: translateX(35px);
}

.band_menu:hover .decal_menu_prix_20 {
  transform: translateX(40px);
  transition-duration: 1.45s;
}

.point_x_3 {
  margin-left: -2px;
}

.txt_light_menu {
  width: -1px;
}

/* I */

.band_menu_35:hover i {
  margin-left: -32px;
}

.h2_plats {
  font-weight: normal;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.52);
  padding-left: 25px;
  margin-top: 40px;
}

/* FOOTER */

footer {
  background-color: #353535;
  color: #fff;
}

footer h1 {
  font-size: 20px;
}

footer p {
  font-weight: 600;
}

.contener-footer {
  margin-left: 30px;
  padding-bottom: 40px;
}

.contener-footer h1 {
  padding-top: 20px;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-bottom: 5px;
}

.foot_line1 {
  display: flex;
  align-items: center;
  margin: 0 0 -20px 0;
  gap: 17px;
}

.foot_line2 {
  display: flex;
  align-items: center;
  margin: 0 0 -20px 0;
  gap: 10px;
}

.txt_contact_interline {
  margin-top: -4px;
}

footer a {
  color: #fff;
  text-decoration: none;
  cursor: default;
}

footer p {
  width: max-content;
  cursor: pointer;
}
